<div class="row">
  <div class="col-md-5  mx-auto">
    <div class=" card rounded-1">
      <div class="card-header">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <div *ngIf="authFailed" class="alert alert-danger">
          {{authFailedMessage}}
        </div>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="form-group">
            <label class="mb-0" for="username">Username</label>
            <input
              #usernameField="ngModel"
              required
              maxlength="25"
              type="text"
              name="username"
              class="form-control"
              id="username"
              (ngModelChange)="resetAuthStatus()"
              [(ngModel)]="admin.username"
            >
            <div
              *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="usernameField.errors?.['required']">
                Username is required.
              </div>
            </div>
            <label class="mb-0 mt-2" for="password">Password</label>
            <div class="input-group mb-3">
              <input
                #passwordField="ngModel"
                required
                minlength="5"
                maxlength="25"
                [type]="getPasswordType()"
                appFieldConstraint="(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])"
                name="password"
                class="form-control"
                id="password"
                aria-describedby="button-addon2"
                (ngModelChange)="resetAuthStatus()"
                [(ngModel)]="admin.password"
              >
              <button
                type="button"
                class="btn btn-light"
                id="button-addon2"
                (click)="changePasswordType()"
              >
                {{getButtonText()}}
              </button>
              <div
                *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="passwordField.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="passwordField.errors?.['minlength']">
                  Password must be at least 5 characters long.
                </div>
                <div *ngIf="passwordField.errors?.['fieldConstraint']">
                  Password must contain at least one digit, one lowercase and one uppercase.
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
