<div class="col-md-3 mx-auto">
    <div class="card card-lg rounded-1">
        <div class="card-header">
            <h3>Enter your credentials</h3>
        </div>
        <div class="card-body">
            <div *ngIf="authFailed" class="alert alert-danger">
                {{authFailedMessage}}
            </div>
            <form (ngSubmit)="onSubmit(); loginForm.form.markAsPristine()" #loginForm="ngForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                        #usernameField="ngModel"
                        required
                        maxlength="25"
                        name="username"
                        class="form-control"
                        id="username"
                        type="text"
                        (ngModelChange)="resetAuthStatus()"
                        [(ngModel)]="adminCredentials.username"
                    >
                    <div
                        *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)"
                        class="alert alert-danger"
                    >
                        <div *ngIf="usernameField.errors?.['required']">
                            Username is required.
                        </div>
                    </div>
                    <label class="mt-2" for="password">Password</label>
                    <div class="input-group">
                        <input
                            #passwordField="ngModel"
                            required
                            name="password"
                            class="form-control"
                            id="password"
                            [type]="getPasswordType()"
                            (ngModelChange)="resetAuthStatus()"
                            [(ngModel)]="adminCredentials.password"
                        >
                        <button
                                type="button"
                                class="btn btn-light"
                                (click)="changePasswordType()"
                        >
                            {{getButtonText()}}
                        </button>
                    </div>
                    <div
                        *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)"
                        class="alert alert-danger"
                    >
                        <div *ngIf="passwordField.errors?.['required']">
                            Password is required.
                        </div>
                    </div>
                </div>
                <button
                    type="submit"
                    class="btn btn-success mt-2"
                    [disabled]="loginForm.form.invalid || loginForm.form.pristine"
                >
                    Login
                </button>
            </form>
        </div>
    </div>
</div>