<div class="row align-items-start mx-0">
    <div class="col-md-2">
        <div class="card mb-0">
            <h5 class="card-header text-center">Filter</h5>
            <button
                class="btn btn-secondary btn-sm"
                (click)="resetFiltration()"
            >
                Reset
            </button>
            <div class="card-body">
                <form
                    [formGroup]="filterForm"
                    (ngSubmit)="onSubmit()"
                >
                    <div class="form-group">
                        <label class="mt-2" for="country">Country</label>
                        <select
                            class="form-select"
                            id="country"
                            formControlName="country"
                        >
                            <option
                                *ngFor="let country of countries"
                                [value]="country"
                            >
                                {{country}}
                            </option>
                        </select>
                        <label class="mt-2" for="city">City</label>
                        <select
                            class="form-select"
                            id="city"
                            formControlName="city"
                        >
                            <option
                                *ngFor="let city of cities"
                                [value]="city"
                            >
                                {{city}}
                            </option>
                        </select>
                        <label class="mt-3">Minimum cars available</label>
                        <div class="row">
                            <div class="col text-start">0</div>
                            <div class="col text-end">{{maxAvailableCarsNumber}}</div>
                        </div>
                        <input
                            min=0
                            [max]="maxAvailableCarsNumber"
                            step=1
                            type="range"
                            id="minimumCarsAvailableRange"
                            class="form-range"
                            formControlName="minimumCarsAvailable"
                            [value]="filterForm.controls.minimumCarsAvailable.value"
                        >

                        <input
                            min=0
                            [max]="maxAvailableCarsNumber"
                            type="number"
                            class="form-control"
                            id="minimumCarsAvailableNumber"
                            formControlName="minimumCarsAvailable"
                            [value]="filterForm.controls.minimumCarsAvailable.value"
                        >
                        <div *ngIf="filterForm.controls.minimumCarsAvailable.invalid" class="alert alert-warning">
                            <div *ngIf="filterForm.controls.minimumCarsAvailable.errors?.['max']">
                                Upper bound exceeded.
                            </div>
                        </div>
                        <form class="my-3" [formGroup]="dateForm">
                            <div class="form-group">
                                <label class="mb-0" for="rentalPeriod">Rent period</label>
                                <div class="form-control" id="rentalPeriod">
                                    <label for="start-date">Start: </label>
                                    <input
                                        [required]="dateForm.dirty"
                                        id="start-date"
                                        type="date"
                                        class="form-control"
                                        formControlName="startDate"
                                    >
                                    <div
                                        *ngIf="dateForm.controls.startDate.invalid"
                                        class="alert alert-warning"
                                    >
                                        <div *ngIf="dateForm.controls.startDate.errors?.['required']">
                                            Start date is required.
                                        </div>
                                    </div>
                                    <input
                                        [required]="dateForm.dirty"
                                        id="start-time"
                                        type="time"
                                        class="form-control"
                                        formControlName="startTime"
                                    >
                                    <div
                                        *ngIf="dateForm.controls.startTime.invalid"
                                        class="alert alert-warning"
                                    >
                                        <div *ngIf="dateForm.controls.startTime.errors?.['required']">
                                            Start time is required.
                                        </div>
                                    </div>
                                    <label for="finish-date">Finish: </label>
                                    <input
                                        [required]="dateForm.dirty"
                                        id="finish-date"
                                        type="date"
                                        class="form-control"
                                        formControlName="finishDate"
                                    >
                                    <div
                                        *ngIf="dateForm.controls.finishDate.invalid"
                                        class="alert alert-warning"
                                    >
                                        <div *ngIf="dateForm.controls.finishDate.errors?.['required']">
                                            Finish date is required.
                                        </div>
                                    </div>
                                    <input
                                        [required]="dateForm.dirty"
                                        id="finish-time"
                                        type="time"
                                        class="form-control"
                                        formControlName="finishTime"
                                    >
                                    <div
                                        *ngIf="dateForm.controls.finishTime.invalid"
                                        class="alert alert-warning"
                                    >
                                        <div *ngIf="dateForm.controls.finishTime.errors?.['required']">
                                            Finish time is required.
                                        </div>
                                    </div>
                                    <div
                                        *ngIf="dateForm.errors?.['dateInconsistent']"
                                        class="alert alert-danger"
                                    >
                                        Finish date must be later than start date.
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary w-100"
                        [disabled]="filterForm.invalid || dateForm.invalid || (filterForm.pristine && dateForm.pristine)"
                    >
                        Find
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Available cars</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let center of centers">
                <td>
                    <button
                        class="btn btn-primary"
                        routerLink="/rental-centers/{{center.name}}"
                        [queryParams]="getRentPeriodFilter()"
                        data-bs-toggle="tooltip"
                        data-bs-placement="left"
                        title="Click to to view detail info"
                    >
                        {{center.name}}
                    </button>
                </td>
                <td>{{center.country}}</td>
                <td>{{center.city}}</td>
                <td>{{center.address}}</td>
                <td>{{center.availableCarsNumber}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
