<table class="table table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Passport number</th>
    <th scope="col">Driver license</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="user">
    <td>{{user.username}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.dateOfBirth}}</td>
    <td>{{user.passportNumber}}</td>
    <td>{{user.driverLicenseSerialNumber}}</td>
    <td>{{user.email}}</td>
  </tr>
  </tbody>
</table>
<div class="card m-3">
  <h5 class="card-header">User roles</h5>
  <div class="card-body">
    <form name="form" (ngSubmit)="onSubmit()" #rolesForm="ngForm">
      <div
        class="form-check"
        *ngFor="let role of allRoles"
        id="roles"
      >
        <input
          type="checkbox"
          class="form-check-input"
          [checked]="checkUserRole(role)"
          [disabled]="processNoneRole(role)"
          (change)="editRole(role)"
        >
        {{role}}
      </div>
      <div class="text-right">
        <button class="btn btn-success mr-1">Submit</button>
        <button class="btn btn-secondary" type="button" (click)="resetRoles()">Reset</button>
      </div>
    </form>
  </div>
</div>
<button class="btn btn-primary" (click)="goBack()">go back</button>
