<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Passport</th>
      <th scope="col">Driver license</th>
      <th scope="col">Newly registered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <button
          class="btn btn-info"
          routerLink="/users/{{user.username}}"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          title="Click to edit roles"
        >
          {{user.username}}
        </button>
      </td>
      <td>{{user.email}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{showDateOfBirth(user)}}</td>
      <td>{{user.passportNumber}}</td>
      <td>{{user.driverLicenseSerialNumber || 'NULL'}}</td>
      <td>
        <button
          class="btn btn-success"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          title="Click to assign client role"
          *ngIf="user.approvalRequested"
          (click)="approveClient(user.username)"
        >Approve</button>
      </td>
    </tr>
  </tbody>
</table>
