<div class="m-auto">
    <div class="row align-items-start mx-auto">
        <div class="col-md">
            <H2>{{centerName}} rental center</H2>
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="center">
                    <td>{{center.name}}</td>
                    <td>{{center.country}}</td>
                    <td>{{center.city}}</td>
                    <td>{{center.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 m-3">
            <form name="form" (ngSubmit)="onSubmit()" #rentalPeriodForm="ngForm">
                <label class="mb-0 mt-2" for="rentalPeriod">Rent period</label>
                <div class="form-control" id="rentalPeriod">
                    <label class="mb-0 mt-2" for="startDate">Start</label>
                    <input
                        [required]="dateFillInRequired()"
                        type="date"
                        class="form-control"
                        id="startDate"
                        name="startRentDate"
                        [(ngModel)]="startRentDate"
                    >
                    <input
                        [required]="dateFillInRequired()"
                        type="time"
                        class="form-control"
                        id="StartTime"
                        name="startRentTime"
                        [(ngModel)]="startRentTime"
                    >
                    <label class="mb-0 mt-2" for="finishDate">Finish</label>
                    <input
                        [required]="dateFillInRequired()"
                        type="date"
                        class="form-control"
                        id="finishDate"
                        name="finishRentDate"
                        [(ngModel)]="finishRentDate"
                    >
                    <input
                        [required]="dateFillInRequired()"
                        type="time"
                        class="form-control"
                        id="finishTime"
                        name="finishRentTime"
                        [(ngModel)]="finishRentTime"
                    >
                    <div *ngIf="rentalPeriodForm.form.invalid" class="my-2 alert alert-warning">
                        Please fill in all date fields
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary col mt-3"
                        [disabled]="rentalPeriodForm.form.invalid || !dateIsSpecified()"
                    >
                        Find
                    </button>
                </div>
            </form>
        </div>
        <div class="col m-3">
            <H2>Cars</H2>
            <div class="row row-cols-auto">
                <div class="col my-2" *ngFor="let car of cars">
                    <app-car [car]="car"></app-car>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="goBack()">go back</button>
</div>
