<div class="card-header">{{car.brand}} {{car.model}}</div>
<div class="card-body">
    <h4 class="card-title">{{car.registrationNumber}}</h4>
    <table class="table table-hover table-m">
        <tr>
            <th scope="col">Prices</th>
            <td>
                {{car.pricePerMinute}} $/min<br>
                {{car.pricePerHour}} $/hour<br>
                {{car.pricePerDay}} $/day<br>
            </td>
        </tr>
        <tr>
            <th scope="col">Seat places</th>
            <td>{{car.seatPlaces}}</td>
        </tr>
        <tr>
            <th scope="col">Avg fuel consumption</th>
            <td>{{car.averageConsumption}}</td>
        </tr>
        <tr>
            <th scope="col">Gearbox</th>
            <td>{{showGearboxType(car)}}</td>
        </tr>
        <tr>
            <th scope="col">Dimensions</th>
            <td>{{car.length / 1000}} m; {{car.weight}} kg;</td>
        </tr>
        <tr>
            <th scope="col">Power</th>
            <td>{{car.power}} HP</td>
        </tr>
        <tr *ngIf="car.availableServices.length">
            <th scope="col">Available services</th>
            <td>
                <span *ngFor="let service of car.availableServices">
                    {{service.name}} - {{service.price}}$<br>
                </span>
            </td>
        </tr>
    </table>
</div>
