<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand">Car rental Admin®</span>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a
                            routerLink="/users"
                            routerLinkActive="active"
                            class="nav-link"
                        >
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            routerLink="/rental-centers"
                            routerLinkActive="active"
                            class="nav-link"
                        >
                            Rental centers
                        </a>
                    </li>
                </ul>
                <ul class="nav justify-content-end ms-auto">
                    <li
                        *ngIf="isLoggedOut()"
                        class="nav-item"
                    >
                        <a
                            routerLink="/login"
                            routerLinkActive="active"
                            class="nav-link"
                        >
                            Login
                        </a>
                    </li>
                    <li
                        *ngIf="isLoggedIn()"
                        class="nav-item"
                    >
                        <a
                            class="nav-link"
                            (click)="logout()"
                        >
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <app-date-time-range-form></app-date-time-range-form>
</div>