<div class="navbar navbar-dark bg-dark">
  <h1 class="navbar-brand p-1">Car rental Admin®</h1>
  <ul class="nav nav-tabs justify-content-end">
    <li
      class="nav-item"
      *ngIf="isLoggedOut()"
    >
      <a
        routerLink="/login"
        routerLinkActive="active"
        class="nav-link"
      >Login</a>
    </li>
    <li
      class="nav-item"
      *ngIf="isLoggedIn()"
    >
      <a
        class="nav-link"
        (click)="logout()"
      >Logout</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
